# Supabase Configuration for Vercel & Vite Environment Variables
VITE_SUPABASE_URL=https://sysvyvgradzmglvuxuam.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5c3Z5dmdyYWR6bWdsdnV4dWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwNTQxMTgsImV4cCI6MjEwMTYzMDExOH0.KDkhrOirRslJHgFkcnIedN_0UeZryr9Rp7I4hbwDLuk
